@light-grey : #eee;
@hover-grey : #ddd;

.panel :extend(.rcd-flex-vbox) {
  background-color: #fff;
  border: @hover-grey 1px solid;
  padding: 12px;

  .panel-title :extend(.rcd-flex-hbox) {
    justify-content: center;
    color: @rcd-primary-color;
    font-weight: 500;
    font-size: 12px;
  }

  .panel-action {
    justify-content: center;
  }
}

.action {
  background-color: @light-grey;
}

.action:hover {
  background-color: @hover-grey;
}