@light-grey : #eee;
@hover-grey : #ddd;

.panel :extend(.rcd-flex-vbox) {
  background-color: #fff;
  border: @hover-grey 1px solid;
  padding: 12px;

  @media (max-width: @rcd-material-max-mobile-width) {
    margin-bottom: @rcd-material-layout-mobile-margin;
  }
  @media (min-width: @rcd-material-min-tablet-width) {
    margin-bottom: @rcd-material-layout-margin;
  }

  .panel-title :extend(.rcd-flex-hbox) {
    justify-content: center;
    color: @rcd-primary-color;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 12px;
    padding-top: 6px;
  }

  .panel-action {
    justify-content: center;
    margin-top: 12px;
  }
}

.action {
  background-color: @light-grey;
}

.action:hover {
  background-color: @hover-grey;
}