.game-score-line :extend(.rcd-flex-hbox) {
  font-size: 20px;
  justify-content: space-between;
}

.game-side-names-line :extend(.rcd-flex-hbox) {
  font-size: 16px;
  justify-content: space-between;
  padding: 12px;

  .game-side-name {
    max-width: 45%;
  }
}

.game-side-name :extend(.rcd-flex-hbox) {
  span {
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
}

.game-score :extend(.rcd-flex-hbox) {
  justify-content: space-around;
  background-color: @rcd-primary-color;
  color: #fff;
  font-weight: 500;
  padding: 6px;
}

.game-score-image {
  width: 48px;
  height: 48px;
  margin: 12px;
}

.game-list-item {
  padding-left: 8px;
  padding-right: 8px;
  justify-content: space-between;

  .center :extend(.rcd-flex-hbox) {
  }

  .game-score { 
    width: 56px;
  }

  .game-side-name {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 30%;
  }

  .game-side-name.red-side {
    text-align: right;
  }
}